<div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Spectrum {{spectrum.id}} for {{spectrum.compound[0].names[0].name}}</h3>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" ng-init="showScore = false">
                            <span uib-tooltip-placement="right"
                                  uib-tooltip="Click to see the explaination for the {{0.0 + spectrum.score.score | number:2}} / 5 score"
                                  uib-tooltip-trigger="mouseenter" uib-tooltip-popup-delay='10'
                                  ng-click="showScore =! showScore">
                                Rating:
                                <span><uib-rating ng-model="spectrum.score.score" max="5" data-readonly="true"></uib-rating></span>
                                <i class="fa fa-question"></i>
                            </span>
                        </div>
                    </div>

                    <div class="row" ng-show="showScore" ng-class="animate-show">
                        <div class="col-md-12">
                            <div class="panel top17 panel-default" ng-show="spectrum.score">
                                <div class="panel-heading">
                                    Explanation for the {{spectrum.score.score | number:2}} / 5 star score
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Impact Rating</th>
                                            <th>Reason</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="impact in spectrum.score.impacts | orderBy:'-value'"
                                            ng-class="impact.value < 0 ? 'danger' : (impact.value > 0 ? 'success' : 'warning')">
                                            <td>{{impact.value | number:2}}</td>
                                            <td>{{impact.reason}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="panel top17" ng-hide="spectrum.score">This spectrum has not yet been curated.</div>
                        </div>
                    </div>

                    <div class="row top5" ng-if="spectrum.library !== null">
                        <div class="col-md-12">
                            <ul class="list-unstyled">
                                <li>
                                    <div class="h5">
                                        <span data-display-library-reference spectrum="spectrum"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row top5">
                        <div class="col-md-8">
                            <ul class="list-inline">
                                <li ng-repeat="tag in spectrum.tags">
                                    <span tag-query rule-based="tag.ruleBased" value="tag" type="spectrum"></span>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-4 text-right">
                            <div spectra-download spectrum="spectrum"></div>
                        </div>
                    </div>

                    <div class="row top5">
                        <div class="col-md-12">
                            <ul class="list-inline">
                                <li>
                                    <div class="h5">
                                        SPLASH<sup><a href="http://splash.fiehnlab.ucdavis.edu" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a></sup>:
                                        <span splash-query value="spectrum.splash">{{spectrum.splash.splash}}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="h5">
                                        Submitter: <span submitter-query submitter="spectrum.submitter">{{spectrum.submitter.firstName}} {{spectrum.submitter.lastName}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <!-- mass spectral properties -->
                    <div class="row">
                        <div class="col-md-12">
                            <uib-accordion close-others="false">
                                <uib-accordion-group is-open="accordionStatus.isSpectraOpen">
                                    <uib-accordion-heading>
                                        <div>Mass Spectrum
                                            <i class="pull-right glyphicon"
                                               ng-class="{'glyphicon-chevron-down': accordionStatus.isSpectraOpen,
                                                       'glyphicon-chevron-right': !accordionStatus.isSpectraOpen}"></i>
                                        </div>
                                    </uib-accordion-heading>

                                    <div class="masspec-modal">
                                        <mass-spec id="massSpec_{{spectrum.id}}"
                                                   ng-model="spectrum.spectrum"></mass-spec>
                                    </div>
                                </uib-accordion-group>

                                <uib-accordion-group is-open="accordionStatus.isIonTableOpen">
                                    <uib-accordion-heading>
                                        <div>Ion Table / Peak Table
                                            <i class="pull-right glyphicon"
                                               ng-class="{'glyphicon-chevron-down': accordionStatus.isIonTableOpen,
                                                    'glyphicon-chevron-right': !accordionStatus.isIonTableOpen}"></i>
                                        </div>
                                    </uib-accordion-heading>

                                    <div style="height: 400px; overflow: auto; margin-top: 10px;">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th><a href="" ng-click="sortIonTable('ion')">Ion</a></th>
                                                <th><a href="" ng-click="sortIonTable('intensity')">Intensity</a></th>
                                                <th><a href="" ng-click="sortIonTable('annotation')">Annotation</a></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="ion in massSpec | orderBy:ionTableSort:ionTableSortReverse">
                                                <td>{{ion.ion | number : 6}}</td>
                                                <td>{{ion.intensity | number : 6}}</td>
                                                <td>
                                                    {{ion.annotation}}

                                                    <!-- display this, if it's a computed value -->
                                                    <i ng-show="ion.computed == true" class="fa fa-flask"
                                                       uib-tooltip-placement="top"
                                                       uib-tooltip="Calculated by MoNA auto curation"></i>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </uib-accordion-group>

                                <uib-accordion-group is-open="accordionStatus.isSimilarSpectraOpen">
                                    <uib-accordion-heading>
                                        <div ng-click="loadSimilarSpectra()">
                                            Similar Spectra
                                            <i class="pull-right glyphicon"
                                               ng-class="{'glyphicon-chevron-down': accordionStatus.isSimilarSpectraOpen,
                                                          'glyphicon-chevron-right': !accordionStatus.isSimilarSpectraOpen}"></i>
                                        </div>
                                    </uib-accordion-heading>

                                    <div class="text-center" ng-show="loadingSimilarSpectra">
                                        <p><span class="spinner"><i class="fa fa-refresh fa-spin"></i> Searching for similar spectra...</span></p>

                                        <p>Please wait - this can take some time depending on server load.</p>
                                    </div>

                                    <div class="text-center" ng-show="!loadingSimilarSpectra && !similarSpectra.length">
                                        <h4>No spectra found with similarity > 500.</h4>
                                    </div>

                                    <div class="text-center" ng-show="!loadingSimilarSpectra && similarSpectra.length"
                                         style="height: 400px; overflow: auto; margin-top: 10px;">

                                        <table class="table table-hover table-striped" style="table-layout: fixed;">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th class="text-center">Name</th>
                                                <th class="text-right" style="width: 110px">Structure</th>
                                                <th class="text-right" style="width: 110px">Spectrum</th>
                                                <th class="text-center">Similarity Score</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="s in similarSpectra | filter"
                                                ng-if="s.id != spectrum.id"
                                                ng-click="viewSpectrum(s.id)">
                                                <td>{{s.id}}</td>
                                                <td>
                                                    <ul class="list-unstyled">
                                                        <li ng-repeat="name in s.compound[0].names | limitTo:3">
                                                            {{name.name}}
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <div class="center-block" chemical-sketcher readonly="true"
                                                         width="100"
                                                         height="100"
                                                         id="bioSketch_{{s.id}}"
                                                         ng-model="s.compound[0]"></div>
                                                </td>
                                                <td>
                                                    <div class="masspec-mini">
                                                        <mass-spec id="massSpec_{{s.id}}" mini
                                                                   ng-model="s.spectrum"></mass-spec>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="text-center">{{s.similarity * 1000 | number:0}} / 1000</p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </uib-accordion-group>
                            </uib-accordion>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-md-12">
                            <h4>Compound Information</h4>

                            <uib-accordion>
                                <uib-accordion-group ng-repeat="compound in spectrum.compound track by $index"
                                                     is-open="accordionStatus.isCompoundOpen[$index]">
                                    <uib-accordion-heading>
                                        <div>
                                            <span ng-if="compound.kind !== null">{{compound.kind | ucfirst}}</span>
                                            <span ng-of="compound.kind === null">Submitted Compound</span>
                                            <i class="pull-right glyphicon"
                                               ng-class="{'glyphicon-chevron-down': accordionStatus.isCompoundOpen[$index],
                                                          'glyphicon-chevron-right': !accordionStatus.isCompoundOpen[$index]}"></i>
                                        </div>
                                    </uib-accordion-heading>

                                    <div display-compound-info compound="compound"></div>
                                </uib-accordion-group>
                            </uib-accordion>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-md-12">
                            <div ng-show="spectrum.metaData.length">
                                <h4>Mass Spectral Metadata</h4>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="meta in spectrum.metaData | filter: {category: '!annotation'} | filter: {deleted : '!true'} | filter: {hidden: '!true'} | orderBy: 'name'">
                                        <td class="col-lg-4 col-md-4" data-metadata-name="{{meta.name}}">
                                            <span metadata-query value="meta"> {{meta.name}}</span>
                                        </td>
                                        <td class="col-lg-8 col-md-8" data-metadata-value="{{meta.value}}">
                                            <span ng-if="angular.isNumber(meta.value)">{{meta.value | number:4}} {{meta.unit}}</span>
                                            <span ng-if="!angular.isNumber(meta.value)">{{meta.value}} {{meta.unit}}</span>

                                            <i ng-show="meta.computed == true" class="fa fa-flask" tooltip-placement="top"
                                               uib-tooltip="Calculated by MoNA Auto Curation"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
